.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;   
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    background-color: green;
}   

.subscribe-button:active {
    background-color: blue;
}

.join-button {
    background-color: rgb(255, 255, 255);
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    color: rgb(4, 95, 242);
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 1s;
    display: flex; /* Center text inside button */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.join-button:hover {
    background-color: rgb(4, 95, 242);
    color: rgb(255, 255, 255);
}

.tweet-button {
    background-color: rgb(6, 230, 251);
    border: none;
    color: rgb(255, 255, 255);
    height: 36px;
    width: 70px;   
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: opacity 0.15s;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}